<!DOCTYPE html>
<html>
<head>
    <title>Sistema Bancario - Inicio</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="image">
                <img src="/static/index.png" alt="Logo">
            </div>
            <h1>Bienvenidos a ByteBank</h1>
            <div class="links">
                <a href="/login">Iniciar sesión</a>
                <a href="/register">Registrarse</a>
            </div>
        </div>
    </div>
</body>
</html>

