:root {
    font-size: 24px;
}
body {
    background: #01111b;
    background: linear-gradient(to left, #b1d8fe, #9e93ba);
    height: 100vh;
    font-family: "Josefin Sans", sans-seri;
}
.card-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-group {
    position: relative;
    top: 30%;
    left: 05;
    height: 250px;
    width: 350px;
    border-radius: 25px;
    background: rgba(251, 252, 253, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(174, 192, 247, 0.1);
    box-shadow: 0 0 80px rgba(173, 153, 238, 0.2);
    overflow: hidden;
}
.number {
    position: absolute;
}
.logo img {
    position: absolute;
    top: 35px;
    right: 10px;
    /* Modifica este valor para ajustar la posición a la derecha */
    width: 120px; /* Modifica este valor para ajustar el ancho de la imagen */
    height: auto;
    opacity: 0.8;
}
.number {
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    left: 40px;
    transform: translateY(-50%); /* Ajustar posición verticalmente */
    color: rgba(8, 8, 10, 0.8);
    font-weight: 800;
    letter-spacing: 8px;
    text-shadow: 0 0 2px rgba(45, 46, 47, 0.6);
    font-family: 'Nunito', sans-serif;
  }
.number {
    bottom: 65px;
}
.jumbotron {
    background-color: linear-gradient(to left, #b1d8fe, #9e93ba);
    padding: 2rem;
    margin-bottom: 2rem;
}
.container.text-center {
    text-align: left;
}
.row.align-items-center {
    align-items: flex-start;
}
.card.mb-4.text-center.align-items-center {
    text-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.card-img-top {
    width: 150px;
    height: 150px;
}
.card-body {
    padding: 1rem;
}
.btn.btn-primary {
    background-color: #bdadf3;
    color: #000000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}
/* Estilos generales */
.navbar {
    background-color: linear-gradient(to left, #b1d8fe, #9e93ba);
}
.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.navbar-nav .nav-link {
    font-size: 16px;
    color: #000;
}
.navbar-nav .nav-link.active {
    font-weight: bold;
}
/* Estilos del logo */
.logo {
    margin-right: 10px;
}
.logo img {
    width: 50px;
    height: 50px;
}
/* Estilos del botón desplegable en la versión móvil */
.navbar-toggler-icon {
    background-color: #000;
}
/* Estilos para resaltar el enlace activo */
.nav-item.active .nav-link {
    color: #000;
    font-weight: bold;
}
/* Estilos para el saldo*/
.card-body {
  padding: 0.5rem;
}

.card-subtitle {
  font-size: 34px;
  color: #000;
  margin-bottom: 0.5rem;
}

.tabla-datos {
  width: 100%;
}

.fila-datos td {
  padding: 0.2rem;
  font-size: 12px;
  color: #000;
}
