html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    background-image: url("/static/index.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.image img {
    max-width: 100%;
    max-height: 99%;
}

.content h1 {
    color: #b1d8fe;
    font-size: 36px;
    margin-top: 20px;
}

.links {
    margin-top: 10px;
}

a {
    color: #bdadf3;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #bdadf3;
    border-radius: 4px;
}

a:hover {
    background-color: #b1d8fe;
    color: #ef03cb;
}

/* Media queries */
@media only screen and (max-width: 600px) {
    .content h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 400px) {
    .content h1 {
        font-size: 20px;
    }
}
