.card {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #777;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    color: #777;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

.back-icon {
    font-size: 20px;
    vertical-align: middle;
    color: #993cd7;
}