<!DOCTYPE html>
<html>
<head>
    <title>Sistema Bancario</title>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <!-- Bootstrap CSS v5.2.1 -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>
     <!-- navbar -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img src="https://static.vecteezy.com/system/resources/previews/014/605/342/non_2x/credit-card-swipe-machine-for-online-payment-png.png"
                alt="logo" class="logo" style="width: 50px; height: 50px;">
            <a class="navbar-brand" href="#">ByteBank</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">tranferencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">recarga</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">pagar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Cerrar sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- tarjeta -->
    <br>
    <br>
    <div class="card-group">
        <div class="card">
            <div class="logo"><img
                    src="https://static.vecteezy.com/system/resources/previews/014/605/342/non_2x/credit-card-swipe-machine-for-online-payment-png.png"
                    alt="visa"></div>
            <div class="number">
                <div class="card-body">
                    <table class="tabla-datos">

                        <tr class="fila-datos">
                            <td>Saldo:</td>
                            <td>${{ user['balance'] }}</td>
                        </tr>

                    </table>
                </div>
                <table class="tabla-datos">

                    <tr class="fila-datos">
                        <td>Nombre: {{ user['first_name'] }}</td></td>
                    </tr>

                </table>
                <table class="tabla-datos">

                    <tr class="fila-datos">
                        <td>Apellido: {{ user['last_name'] }}</td></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

    <!-- card de las coasa que hace la aplicacion-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        </div>
        <br>
    </div>
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col">
            </div>
            <div class="col">
                <div class="card mb-4 text-center align-items-center">
                    <br>
                    <img src="https://cdn-icons-png.flaticon.com/512/5950/5950200.png" class="card-img-top"
                        alt="transferencia" style="width: 150px; height: 150px;">
                    <div class="card-body">
                        <br>
                        <a href="" class="btn btn-primary">Transferir</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 text-center align-items-center">
                    <br>
                    <img src="https://img.freepik.com/iconos-gratis/metodo-pago_318-827953.jpg?w=2000"
                        class="card-img-top" alt="recargar" style="width: 150px; height: 150px;">
                    <div class="card-body">
                        <br>
                        <a href="" class="btn btn-primary">Recargar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 text-center align-items-center">
                    <br>
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREpO32qy4UtDSUpRqJgdhiAvruThNT4kKPgw&usqp=CAU"
                        class="card-img-top" alt="recargar" style="width: 150px; height: 150px;">
                    <div class="card-body">
                        <br>
                        <a href="" class="btn btn-primary">Pagar</a>
                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

